/* general */
:root {
  /* colors */
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f6f7fb;
  font-family: "Avenir", sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  width: 100%;
}

#list {
  list-style-type: none;
  margin: 0;
  margin-top: 1.5rem;
  max-width: 600px;
  padding: 0;
  width: 90%;
}

.road-information {
  background-color: #fff;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 75px 1fr 1fr;
  grid-template-rows: 50% 50%;
  height: 75px;
  margin: 1rem auto;
  padding: 0rem 1.5rem;
  width: 100%;
}

.road {
  align-self: center;
  border-radius: 10px;
  color: #f6f7fb;
  font-weight: bold;
  height: 30px;
  grid-column: 1/2;
  grid-row: 1/4;
  padding: 0.5rem 0;
  text-align: center;
}

.road-red {
  background-color: #e34139;
}

.road-yellow {
  background-color: #f7be47;
}

.location,
.properties {
  margin-left: 1.5rem;
}

.location {
  align-self: center;
  grid-column: 2/4;
  grid-row: 1/2;
}

.properties {
  align-self: center;
  display: flex;
  flex-direction: row;
  grid-column: 2/4;
  grid-row: 2/3;
}

.properties > p {
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  display: flex;
  font-weight: bold;
  margin-right: auto;
  text-align: left;
}

.properties > p > .material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54);
  margin-right: 1rem;
}
