<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
		<title>Real-time Web</title>
	</head>
	<body>
		<main><ul id="list"></ul></main>
    <footer>

    </footer>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./../../js/index.js"></script>
	</body>
</html>
