<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
		<title>Verkeersinformatie</title>
	</head>
	<body>
		<header>
			<% include ../partials/header %>
		</header>
		<main>
			<% include ../partials/traffic %>
		</main>
    <footer></footer>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./../../js/index.js"></script>
	</body>
</html>
