<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<% include ../partials/head %>
		<title>Real-time Web</title>
	</head>
	<body>
		<main><ul id="messages"></ul></main>
    <footer>
			<form action="">
	      <input id="m" autocomplete="off" /><button>Send</button>
	    </form>
    </footer>
		<script src="/socket.io/socket.io.js"></script>
		<script type="text/javascript" src="./../../js/index.js"></script>
	</body>
</html>
