<form class="action" action="/" method="post">
	<button class="control-btn inactive-btn" type="submit" name="button">Files</button>
</form>
<form class="action" action="/werkzaamheden" method="post">
	<button class="control-btn" type="submit" name="button">Werkzaamheden</button>
</form>
<form class="action" action="/" method="post">
	<button class="control-btn" type="submit" name="button">Flitsers</button>
</form>
<h2 id="timestamp"></h2>
<h2 id="total-distance"></h2>
