<button class="control-btn inactive-btn" type="button" name="button">Files</button>
<button class="control-btn" type="button" name="button">Werkzaamheden</button>
<button class="control-btn" type="button" name="button">Flitsers</button>
