<button class="control-btn inactive-btn" type="submit" name="button">Files</button>
<button class="control-btn" type="submit" name="button">Werkzaamheden</button>
<button class="control-btn" type="submit" name="button">Flitsers</button>
<h2 id="timestamp"></h2>
<h2 id="total-distance"></h2>
